@import "tailwindcss";

:root {
  --primary-color: #FF3131;
  --secondary-color: #0F2854;
  --tertiary-color: #F8AE61;
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --muted: #f4f4f5;
  --muted-foreground: #64748b;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #ef4444;
  --primary: #ef000f;
  --primary-foreground: #ffffff;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --accent: #f8fafc;
  --accent-foreground: #0f172a;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --sidebar: #ffffff;
  --sidebar-foreground: #334155;
  --sidebar-primary: #ef000f;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f8fafc;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #e2e8f0;
  --sidebar-ring: #ef4444;

  /* Kemitraan Color */
  --kagawaricebowl-color: #E65100;
  --kagawaricebowl-color-hover: #BF360C;

  --kagawacoffee-color: #5D4037;
  --kagawacoffee-color-hover: #4E342E;

  --kagawacoffeebowl-color: #3E2723;
  --secondary-kagawacoffeebowl-color: #4BA54C;
  --kagawacoffeebowl-color-hover: #2D1B18;

  --rmn-color: #2E7D32;
  --rmn-color-hover: #1B5E20;

  --warnas-color: #3FA917;
  --warnas-color-hover: #2F850B;

  --masgaw-color: #EDEC3F;
  --masgaw-color-hover: #FECE00;

  --masakanmasgawa-color: #E8D580;
  --masakanmasgawa-color-hover: #D3A642;

  --independent-color: #1565C0;
  --independent-color-hover: #0D47A1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-albert-sans);
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
